/*
Theme Name: Advance Fitness Gym
Theme URI: https://www.themeshopy.com/themes/free-wordpress-fitness-theme/
Author: Themeshopy
Author URI: https://www.themeshopy.com/
Description: Advance Fitness Gym is a bold, impactful, intuitive and dynamic fitness WordPress theme for gyms, fitness clubs, yoga classes, weight loss centres, personal trainers, aerobics classes, healthcare centres, spa, workout studios, zumba classes, physiotherapists, health consultants and all the fitness freaks who are on a mission to make people healthy and fit. This multipurpose theme has an inviting design to make people turn their heads towards your website at least once. The Bootstrap framework gives a strong base with responsive layout yielding a beautiful look on different sizes of mobiles, tablets and desktops. Facility for customization is provided right at your fingertips, through theme customizer, without requiring any coding knowledge. Advance Fitness Gym loads on all browsers and can be translated into numerous local and international languages. It is optimized for search engines and integrated with social media icons. It offers interactive features and animated transitions to make the site stand apart among others. With multiple layouts for header, footer and sidebars, you can style your website to suit your brand. It comes with thorough documentation that will let you make the most of your website irrespective of your skills. Demo: https://themeshopy.com/advance-fitness-gym-pro/
Version: 0.4.4
license: GNU General Public License v3.0
License URI: http://www.gnu.org/licenses/gpl.html
Text Domain: advance-fitness-gym
Tags: left-sidebar, right-sidebar, one-column, two-columns, three-columns, four-columns, grid-layout, custom-colors, custom-background, custom-logo, custom-menu, custom-header, editor-style, featured-images, footer-widgets, full-width-template, theme-options, translation-ready, post-formats, rtl-language-support, threaded-comments, blog, e-commerce, portfolio

Advance Fitness Gym WordPress Theme has been created by Themeshopy, 2018.
Advance Fitness Gym WordPress Theme is released under the terms of GNU GPL

In this theme some code is taken from Twenty Sixteen.
*/

/* Basic Style */
*{
	margin:0;
	padding:0;
	outline:none;
}
body{
	margin:0;
	padding:0;
	-ms-word-wrap:break-word;
	word-wrap:break-word;
	background-color:#fff;
	color:#5b5b5b;
	font-family: 'Ubuntu', sans-serif;
}
img{
	margin:0;
	padding:0;
	border:none;
	max-width:100%;
	height:auto;
}
section img{
	max-width:100%;
}
h1,
h2,
h3,
h4,
h5,
h6{
	margin:0;
	padding:10px 0;
	color: #000
}
p{
	margin:0 0 15px;
	padding:0;
	font-size:16px;
}
a{
	text-decoration:none;
	color:#000;
}
a:hover{
	text-decoration:none;
	color:#666;
}
a:focus,
a:hover{
	text-decoration:none !important;
}
a:focus, 
input:focus, button:focus, textarea:focus,
.woocommerce form .form-row input:focus.input-text, .woocommerce form .form-row textarea:focus{
  outline: 1px dotted #000;
  border-bottom: 1px solid #000;
}
ul{
	margin:0 0 0 15px;
	padding:0;
}
:hover{-webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
select{
  width:100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary{
  clear:both;
}
.clear{
	clear:both;
}
input[type='submit']:hover{
	cursor: pointer;
}
.center{
	text-align:center;
	margin-bottom:40px;
}
.wp-caption{
	margin:0;
	padding:0;
	font-size:13px;
	max-width:100%;
}
.wp-caption-text{
	margin:0;
	padding:0;
}
/* Text meant only for screen readers. */
.screen-reader-text {
border: 0;
clip: rect(1px, 1px, 1px, 1px);
clip-path: inset(50%);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
word-wrap: normal !important;
}
.screen-reader-text:focus {
background-color: #eee;
clip: auto !important;
clip-path: none;
color: #444;
display: block;
font-size: 1em;
height: auto;
left: 5px;
line-height: normal;
padding: 15px 23px 14px;
text-decoration: none;
top: 5px;
width: auto;
z-index: 100000; /* Above WP toolbar. */
}
.sticky{
	margin:0;
	padding:0;
}
.gallery-caption{
	margin:0;
	padding:0;
}
.alignleft,
 img.alignleft {
 	display: inline;
	float: left;
	margin-right:20px;
	margin-top:4px;
	margin-bottom:10px;
	padding:0;
	border:1px solid #bbb;
	padding:5px;
}
.alignright,
 img.alignright {
	display: inline;
	float: right;
	border:1px solid #bbb;
	padding:5px;
	margin-bottom:10px;
	margin-left:25px;
}
.aligncenter,
 img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:0;
}
.comment-list .comment-content ul {
	list-style:none;
	margin-left:15px;
}
.comment-list .comment-content ul li{
	margin:5px;
}
#respond{
	clear:both;
}
.bypostauthor{
	margin:0;
	padding:0;
}
.entry-content a, #comments p a,  .woocommerce-product-details__short-description p a{
  color: #000;
  text-decoration: underline;
}
.entry-content code{
  color: #000;
}
small{
	font-size:14px !important;
}
input[type="text"],
input[type="email"],
input[type="phone"],
input[type="password"],
 textarea{
	border:1px solid #bcbcbc;
	width:100%;
	font-size:16px;
	padding:10px 10px;
	margin:0 0 23px 0;
	height:auto;
}
textarea{
	height:111px;
}
input[type="search"] {
  padding: 10px;
  border: 1px solid #bbb;
  color: #000;
}
input[type="submit"] {
	border: none;
	text-align:center;
	font-size:17px;
	padding:10px 30px;
	background: #fe5e24;
	font-weight:bold;
	color:#000;
}
input#pwbox-1168 {
    padding: 9px;
}
/*elementor*/
.elementor-html #loader, .elementor-html #loader-wrapper{ 
  display: none; 
}
/* ---------Buttons--------- */
.read-moresec a.button{
	background:#fe5e24;
	color: #000;
	font-size: 16px;
	padding: 15px 30px;
	font-weight:bold;
}
.read-moresec {
  margin: 30px 0;
}
/*preloader*/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  overflow: hidden;
}
.no-js #loader-wrapper {
  display: none;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #16a085;
  -webkit-animation: spin 1.7s linear infinite;
          animation: spin 1.7s linear infinite;
  z-index: 99999999;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin-reverse .6s linear infinite;
          animation: spin-reverse .6s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222;
  z-index: 10;
}
#loader-wrapper .loader-section.section-left {
  left: 0;
}
#loader-wrapper .loader-section.section-right {
  right: 0;
}
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

/*----------Sticky Header------*/
.fixed-header {
  position: fixed;
  top:0; left:0;
  width: 100%;
  background: #fff;
  box-shadow: 2px 2px 10px 0px #2d2d2d;
  z-index: 999999;
}
.page-template-custom-front-page .fixed-header .menu-cart{
  position: static;
}

/* ---------Top Menu--------- */
.top_headbar{
  background-color: #161415;
}
#header .socialbox a {
  color: #fff;
}
#header .top-contact {
  color: #fff;
}  
#header .contact{
  padding: 8px;
  display: inline-block;
}
#header .top-contact i {
  color: #f05d29;
  padding: 2px 7px;
}
#header .socialbox a i {
  padding: 10px;
}
#header .socialbox {
  text-align: right;
}
.middle-header {
  background: #fafafa;
}
#contact-info{
  display: none;
}
/* ---------Middle Header--------- */
.logo{
  margin:0;
}
.logo h1{
  font-size:29px;
  font-weight:bold;
  text-align:left;
}
.logo a{
  color: #000;
  text-transform: uppercase;
}
.logo p{
  font-size:12px;
  color: #000;
  margin-bottom: 0;
}
.logo p a{
  font-size: 29px;
  font-weight: bold;
  text-align: left;
}
.middle-header input[type="search"] {
  font-size: 15px;
  width: 88%;
}
.middle-header input[type="search"]::placeholder{
  color: #000;
}
.middle-header button[type="submit"]{
  padding: 10px 29px;
  background: url(images/search.png) no-repeat scroll 20px;
  text-indent: -9999px;
  border: none;
  cursor: pointer;
}
.middle-header form {
  border: solid 1px #000;
  margin: 25px 0;
}
.account a i {
  color: #fff;
  background: #fe5e24;
  padding: 13px;
}
.account{
  text-align: center;
  margin: 25px 0;
}

/* --------- Main Menu--------- */
.primary-navigation ul ul a:focus,
#header .socialbox a:focus{
outline: 1px dotted #fff;
border-bottom: 1px solid #fff;
}
/* --------- MENUS CSS --------- */

#menu-sidebar .socialbox, #menu-sidebar .mail, #menu-sidebar .book-btn{
  display: none;
}
#menu-sidebar {
  text-align: left;
  display: inline;
}
ul.list_nav {
  margin: 0 auto;
  text-align: center;
  display: block;
}
.primary-navigation ul{
  list-style: none;
  margin: 5px 0 0;
  padding-left: 0;  
  text-align: left;
}
.primary-navigation li{
  display: inline-block;
  position: relative;
}
.primary-navigation li a:hover,
.primary-navigation li:hover a{
  background-color: #000;
  color: #fff;
}
.primary-navigation a{
  display: block;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  padding: 16px 25px;
  text-transform: uppercase;
}
.primary-navigation ul ul{
  display: none;
  position: absolute;
  min-width: 215px;
  z-index: 999;
  top:45px;
}
.primary-navigation ul ul{
  border-top: 6px solid #fe5e24;
}
.primary-navigation ul ul ul{
  left: 100%;
  top: 5px;
}
.primary-navigation ul ul a{
  color: #fe5e24;
  background-color: #000;
  border: none;
  padding: 13px;
  font-weight: 700;
  font-size: 12px;
  z-index: 999;
}
.primary-navigation ul ul li:hover > a , .primary-navigation ul li a:hover{
  color: #fe5e24;
}
.primary-navigation ul ul li{
  float: none;
  display: block;
  text-align: left;
  padding: 0;
}
.primary-navigation ul ul li:last-child{
  border-bottom: 0;
}
.primary-navigation ul li:hover > ul{
  display: block;
}
.primary-navigation a:focus{
  background:#000;
  color: #fe5e24;
}
.primary-navigation .menu > ul > li.highlight{
  background-color: #006ccc;
}
.primary-navigation .menu > ul > li.highlight:hover{
  background: transparent;
}
/*--------------- SUPERFISH MENU ---------------------------*/

.sf-arrows .sf-with-ul:after{
  content: '\f067';
  position: absolute;
  font-weight: 600;
  font-family: 'Font Awesome 5 Free';
  font-size: 10px;
  padding: 0px 6px;
  top:18px;
}
.sf-arrows ul .sf-with-ul:after{
  right: 10px;
  top:15px;
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows .sfHover > .sf-with-ul:after{
  content: '\f068';
  font-weight: 600;
  font-family: 'Font Awesome 5 Free';
}
.toggle-menu, a.closebtn{
  display: none;
}
.sf-arrows .sf-with-ul{
  padding-right: 30px;
}
/* --------- Category --------- */
.categry-title {
  background: #fe5e24;
  padding: 15px;
}
.categry-title i {
  color: #fff;
  margin-right: 10px;
}
.categry-title span {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
.product-category {
  border: solid 1px #e1e1e1;
  background: #fff;
  overflow-y: scroll;
  height: 500px;
}
/* width */
.product-category::-webkit-scrollbar {
  width: 8px;
}
/* Track */
.product-category::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
.product-category::-webkit-scrollbar-thumb {
  background: #000; 
}
/* Handle on hover */
.product-category::-webkit-scrollbar-thumb:hover {
  background: #fe5e24; 
}
.product-category li {
  list-style: none;
  border-bottom: solid 1px #e1e1e1;
  padding: 15px;
}
.product-category img {
  width: 25%;
  margin-right: 10px;
}
.product-category a {
  font-weight: bold;
  font-size: 12px;
}
/* --------- Slider --------- */
#slider{ 
  max-width:100%; 
  margin:auto; 
  padding:0;
  background: #000;
}
#slider img {
  width: 100%;
  opacity: 0.7;
}
#slider .carousel-item-next,#slider .carousel-item-prev,#slider .carousel-item.active {
  display: block !important;  
}
.carousel-control-prev, .carousel-control-next{
  opacity: unset !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  width: auto;
  height: auto;
  background-image: none;
}
#slider .carousel-caption{
  top: 50%;
  transform: translateY(-50%);  
  left: 25%;
  right: 25%;
}
#slider .inner_carousel h1 {
  margin: 0;
  font-size: 39px;
  color: #fe5e24;
  padding: 6px 2px;
}
#slider .inner_carousel p {
  letter-spacing: 0px;
  margin-bottom: 0;
  font-size: 15px;
  margin-top: 10px;
  line-height: 1.5;
  padding: 10px 15px;
}
#slider .inner_carousel {
  color: #fff;
  text-align: center;
  background: rgb(000, 000, 000, 0.6);
}

/*---------- Services -----------*/
.service-border {
  text-align: center;
}
.fitnes-post {
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-top: -11%;
  position: relative;
  padding: 28px;
}
.fitnes-post a strong{
  font-size: 18px;
  margin: 5px 15px;
  display: block;
  text-transform: uppercase;
  text-align: center;
}
.fitnes-post p {
  font-size: 14px;
  margin: 0;
  padding: 0px 8px;
  line-height: 1.5;
  text-align: center;
}
#fitness-content {
  margin: 2% 0;
}

/*---------- Welcome section -----------*/
#fitness-togym{
  padding:2% 0;
}
#fitness-togym .know-btn {
 text-align: left; 
 margin-top: 35px;  
}
#fitness-togym .know-btn a.blogbutton-small {
  color: #000;
  padding: 10px 12px;
  font-weight: 500;
  font-size: 13px;
  border: 1px solid;
}
#fitness-togym .know-btn a.blogbutton-small:hover{
  background: #fe5e24;
  border: 1px solid #fe5e24;
}
#fitness-togym .single-content p {
  font-size: 15px;
  line-height: 1.5;
}
#fitness-togym .wlcm-hr{
  background-color: #fe5e24;
  width: 19%;
  height: 2px;
  margin: 0 0 20px 0;
}
#fitness-togym .single-content h2 {
  text-transform: uppercase;
  font-size: 25px;
}
/*----------------- Homepage ----------------*/
.page-box {
  padding: 10px;
  border-bottom: solid 2px #fe5e24;
}
.page-box h4 a{
	color:#000;
	margin:0 0 29px 0;
	padding:0;
}
.page-box p{
	font-size:16px;
	margin:10px 0;
	line-height: 25px;
	color: #5b5b5b;
}
.box-image{
	margin:0;
}
#banner img{
	width:100%;
	opacity: 0.7;
}
.our-services .services-box{
	margin:40px 0 20px 0;
}
.second-border a {
  border: solid 1px #000;
  padding: 12px 25px;
  font-size: 15px;
  color: #000;
}
.second-border a:hover {
  background: #fe5e24;
  color: #000;
  border: 1px solid #fe5e24;
}
.second-border{
  text-align: right;
  margin: 25px 0; 
}

/* --------- Blog Page ------- */
.our-services {
  padding: 2% 0;
}
.metabox{
	color:#5b5b5b;
	padding: 5px 0 15px;
	clear:both;
}
.page-box-single {
  background: #fafafa;
  padding: 10px;
  margin: 20px 0
}
.metabox a{
  color: #5b5b5b;
}
.metabox span {
  margin-right: 20px;
  font-size: 17px;
}
.metabox i {
  margin-right: 5px;
}
.metabox a:hover{
  color: #fe5e24;
}
.metabox .entry-content p {
  margin: 15px 0;
}
.meta-nav {
  color: #000;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px;
  background: #f1f2f3;
}
.meta-nav:hover{
  background: #fe5e24;
  color: #000;
}
.post-title{
  margin:10px 0;
  color: #1a8129;
  display: block;
}
.meta-nav i {
  font-weight: 900;
  font-size: 15px;
  padding: 8px 0;
}
.tags{
  margin:20px 0;
}
.tags i{
  font-size: 20px;
  color: #fe5e24;
  margin-right: 10px;
}
.tags p a{
  font-size: 15px;
  color:#000;
  border: 1px solid #000;
  padding: 5px 10px;
  display: inline-block;
  margin: 5px;
}
.tags p a:hover{
  color: #000;
  background: #fe5e24;
  border: 1px solid #fe5e24;
}
/* Headings */
section h1{
	font-weight:bold;
	text-align:center;
	margin:0 0 45px;
	padding:0;
	text-transform:uppercase;
  color: #fff;
}
section h3{
	font-weight:bold;
	margin:30px 0 0 0;
	text-transform:uppercase;
}
section h2{
	color:#000;
	font-weight:bold;
	font-size:20px;
}
section h5{
	color:#3890cb;
	font-weight:bold;
	font-size:24px;
	margin:0 0 10px 0;
	padding:0;
}
a.r_button {
	background: #3790ca;
	padding: 0.5em 2em;
	color: #fff;
}
section .innerlightbox{
	background-size:100% 100%;
	padding:4.5em 0;
	color:#000;
}

/* Footer Section */
#footer .search-form label{
  width: 100%;
}

#footer h3.widget-title a {
  color: #fe5e24;
}
#footer input[type="search"] {
  width: 95%;
  border: none;
  padding: 7px 6px;
  border: solid 1px #fe5e24;
  color: #000;
}
#footer input[type="submit"] {
  font-size: 10px;
  padding: 12px 8px;
  font-weight: bold;
  color: #fff;
  margin: 3px 0 0 0;
  font-size: 15px;
  width: 100%
}
#footer td#prev a {
  color: #fff;
}
table#wp-calendar {
  width: 100%;
}
#footer caption,
#sideabr caption {
  font-weight: bold;
  color: #fff;
  font-size: 20px;
}
#footer table,#footer th,#footer td,
#sidebar table,#sidebar th,#sidebar td {
  border: 1px solid #d1d1d1;
  text-align: center;
}
#sidebar td,
#sidebar td#prev a,
#sidebar th {
	color:#202020 !important;
	padding: 5px;
}
#footer td {
  padding: 7px;
  color: #fff;
}
#footer th,
#sidebar th {
  text-align: center;
  padding: 10px;
  color: #fff;
}
#footer select,
#sidebar select {
  padding: 8px 5px;
  color: #4d4d4d;
}
#footer li a {
  color: #fff;
  font-size: 15px;
}
#footer li a:hover{
  color: #fe5e24;
}
#footer ul li {
  list-style: none;
  padding: 5px 0;
}
#footer ul {
	margin: 0;
}
#footer aside {
  margin-bottom: 10px;
}
#footer{
	background:#000;
	color:#fff;
	clear:both;
  padding: 3% 0;
}
#footer h3{
	text-align:left;
	text-transform:uppercase;
	font-size:24px;
	font-weight: bold;
	color: #fe5e24;
}
#footer p{
	font-size:15px;
}
#footer .textwidget a{
  color: #fff;
  text-decoration: underline;
}
#footer .news-form{
	margin-top:24px;
}
#footer input[type="text"]{width:60%;
	padding:8px 5%;
	float:left;
	margin-right:2%;
	border-radius:5px;
}
#footer input[type="submit"] {
  padding: 6px 0;
  float: right;
  background: #fe5e24;
  border-radius: 0px;
  color: #000;
  margin-top: -38px;
}
#footer a:focus,
#footer input:focus,
#footer textarea:focus{
  outline: 1px dotted #fff;
  border-bottom: 1px solid #fff;
}
.copyright p {
  font-size: 15px;
  color: #000;
  margin-bottom: 0;
  padding: 2px;
}
.copyright p a{
  color: #000;
}
.copyright {
  background: #fe5e24;
  padding: 15px 0px;
  text-align:center;
}
table#wp-calendar td a {
  color: #fff;
}
#footer .tagcloud a {
  border: outset 2px #999;
  color: #fff;
  font-size: 15px !important;
  padding: 5px 18px;
  margin: 0 2px 6px;
  display: inline-block;
}
#footer .tagcloud a:hover{
  background-color: #fe5e24; 
  color: #000;
}
/*scroll to top*/
#scroll-top{
  background:#252525;
  border:2px solid #252525;
  color:#fff;
  cursor:pointer;
  width:65px;
  height:65px;
  opacity:0.5;
  position:fixed;
  bottom:60px;
  right:20px;
  z-index:99;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  font-size:20px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  display: none;
}
.left-align{
  left: 20px;
}
.center-align {
  left: 50%;
  right: 50%;
}
/* --------- POST --------- */
.bradcrumbs{
	padding:30px 0;
}
.bradcrumbs a{
	background:#f1f1f1;
	color:#000;
	padding:5px 15px;
	margin-right:5px;
}
.bradcrumbs a:hover{
	background:#ffd34e;
}
.bradcrumbs span{
	background:#dddddd;
	color:#000;
	padding:5px 15px;
}

/* Comments BOX */
#comments {
  display: block;
}
#comments h2.comments-title{
  font-size:25px;
  font-weight:bold;
  border-top:2px dotted #7e7e7e;
  margin:10px 0;
  padding: 30px 0 10px;
}
#comments h3.comment-reply-title{
  font-size:20px;
  font-weight:bold;
  clear:both;
}  
#comments input[type="text"],
#comments input[type="email"],
#comments textarea{
  width:100%;
  padding:12px 10px;
  font-size:18px;
  margin:20px 0 0 0;
}
#comments input[type="submit"].submit{
  background:#fe5e24 !important;
  padding:10px 50px;
  text-transform:normal;
  font-weight:bold;
  color: #000;
  margin-top:20px;
  margin-left:0;
  border: none;
}
#comments a.comment-reply-link{
  color:#000;
  background: #fe5e24;
  padding:5px 15px;
}
#comments a.comment-reply-link:hover{
  background:rgb(21, 28, 39);
  color: #fff;
}
#comments a time{
  color:#fe5e24;
  font-weight:bold;
  font-size:12px;
}
#comments ol li{
  margin-left: 25px;
}
.comment-body{
  margin-bottom: 20px;
}
.content-ts #comments ul{
  margin:0 0 0 40px;
}
#comments .reply{
  text-align: right;
}
#comments .comment-author{
  width:100%;
}  
#comments ol.comment-list {
  color: #5b5b5b;
  font-size: 18px;
}
.comment-meta.commentmetadata {
  margin: 8px 0;
}
li#comment{
  margin-bottom: 20px;
}
.comment-author cite.fn{
  padding-left: 10px;
}
.content-ts #comments h2.comments-title{
  padding-top: 10px;
  font-size: 25px;
}
.content-ts #comments ol li li{
  margin-left: 25px;
}
.content-ts #comments ol li{
  width:100%;
  background:none;
  list-style:none;
  margin: 0;
  background:#fff;
  display: inline-block;
} 
/*------------- Woocommerce --------------*/
.woocommerce .products li {
  text-align: center;
}
.woocommerce #sidebar {
  margin-top: 2em;
}
a.showcoupon,
.woocommerce-message::before{
	color: #000;
}
.woocommerce-message {
  border-top-color: #fe5e24;
}
.woocommerce span.onsale {
  background: #fe5e24;
  color: #000;
  padding: 0;
  border-radius: 0;
  margin: 0 !important;
}
h2.woocommerce-loop-product__title{
  color: #000;
  font-weight: 500;
  font-size: 22px !important;
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price, .woocommerce div.product span.price {
  color: #000;
  font-size: 16px;
}
.woocommerce div.product .product_title,.woocommerce div.product p.price, .woocommerce div.product span.price{
	margin-bottom: 5px;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
	background: #fe5e24;
	color: #000 !important;
	border-radius: 0;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
  color: #fff !important;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
	background: #000;
	color: #fff;
}
.woocommerce .quantity .qty {
  width: 5em;
  padding: 5px;
  border-radius: 0;
  border: solid 1px #000;
  color: #000;
}
.col-1,.col-2 {
  max-width: 100%;
}
nav.woocommerce-MyAccount-navigation ul {
  list-style: none;
}
nav.woocommerce-MyAccount-navigation ul li {
  background: #fe5e24 !important;
  padding: 12px!important;
  margin-bottom: 10px !important;
}
nav.woocommerce-MyAccount-navigation ul li a{
  color: #000;
  font-weight: bold;
}
.posted_in {
  display: block;
}
.product_meta span {
  color: #000;
}
.product_meta span a {
  color: #5b5b5b;
}
.woocommerce .woocommerce-ordering select{
	padding: 10px;
}
span.woocommerce-input-wrapper {
 width: 100%;
}
.woocommerce div.product form.cart .button {
  vertical-align: middle;
  float: left;
  padding: 9.7px;
}
.woocommerce table.shop_table{
  font-size: 16px;
}
.woocommerce form .form-row .required, .woocommerce a.remove{
  color: #df0000 !important;
}
.woocommerce .woocommerce-breadcrumb, .woocommerce .woocommerce-breadcrumb a{
  color: #5b5b5b;
  margin-top: 5px;
}
.woocommerce-MyAccount-content p a, .woocommerce-info a, tr.woocommerce-cart-form__cart-item.cart_item a, form.woocommerce-shipping-calculator a, nav.woocommerce-MyAccount-navigation a{
  text-decoration: none;
}
.woocommerce button.button:disabled:hover, .woocommerce button.button:disabled[disabled]:hover{
  color: #000 !important;
}
tr.woocommerce-cart-form__cart-item.cart_item a{
  color: #5b5b5b;
}
.woocommerce-product-gallery__image {
  padding: 5px;
}
#footer form.woocommerce-product-search button, #sidebar form.woocommerce-product-search button{
  background: #fe5e24 ;
  border-radius: 0px;
  color: #000;
  margin-top: 5px;
  padding: 10px 0;
  width: 100%;
  border: none;
  border: solid 1px #fe5e24;
  font-weight: 600;
  font-size: 18px;
}
#sidebar form.woocommerce-product-search button{
  margin-top: 0;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
  font-size: 16px;
}
.woocommerce .product-title{
  font-size: 17px;
}
.woocommerce .select2-container .select2-selection--single{
  height: 40px;
}
.woocommerce .select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  top:70%;
}
.select2-container--default .select2-selection--single, input#billing_phone {
  padding: 10px 0px;
  border-radius: 0px;
}
.woocommerce form .form-row textarea{
  height: 3em;
}
#sidebar .star-rating, #footer .star-rating{
  margin: 0 !important;
}
#sidebar .product_list_widget .star-rating, #footer .product_list_widget .star-rating{
  margin: 5px 0 10px 0 !important;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{
  background-color: #fe5e24;
}
#sidebar .widget_price_filter .price_slider_wrapper .ui-widget-content{
  background-color: #000;
}
#footer .widget_price_filter .price_slider_wrapper .ui-widget-content{
  background-color: #fff;
}
#footer .price_label, #sidebar .price_label{
  font-size: 14px;
}
.woocommerce .star-rating {
    float: left;
}
.news-item.layout-two .news-text-wrap{
  font-size: 14px;
}
.related.products ul.products li.product, .related.products .woocommerce-page ul.products li.product{
  float:none;
  display: inline-table;
  width: 29% !important;
}
.woocommerce .woocommerce-product-rating .star-rating {
  margin: 0.5em 20px 0 0;
}
.woocommerce .related.products .star-rating, .woocommerce .products .star-rating{
  margin: 10px auto !important;
}
#sidebar .woocommerce ul.product_list_widget li img, #footer .woocommerce ul.product_list_widget li img {
  width: 50px;
}
.woocommerce-cart table.cart td.actions .coupon .input-text{
  font-size: 10px;
}
#footer .woocommerce.widget_shopping_cart .cart_list li{
  padding: 0 0 10px 2em;
}
#footer .woocommerce a.button:hover{
  background: #fe5e24;
  color: #000 !important;
}
#sidebar a.remove.remove_from_cart_button, #footer a.remove.remove_from_cart_button{
  font-size: 20px;
}
.related.products h2{
  font-size: 25px;
}
.woocommerce-Reviews .comment-form-rating label{
  padding: 10px 0;
}
.woocommerce-Reviews .comment-text p.meta {
  width: 100%;
  display: inline-block;
  padding-top: 10px;
}
form.woocommerce-form.woocommerce-form-login.login {
  display: inline-block;
}
.woocommerce form.login .form-row,
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit{
  display: block;
  float: none;
}
.single-product .background-img-skin {
  margin: 36px 0;
}
/*woocommerce pagination*/
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
  background: #fe5e24;
  color: #000;
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span{
  padding: 10px 15px;
  font-size: 18px;
}
/*------------- Sidebar -------------*/
#sidebar {
  margin-top: 2%;
}
#sidebar caption{
	color: #000;
}
#sidebar .textwidget a{
  color: #000;
  text-decoration:underline;
}
#sidebar form{
 	display: table;
	width: 100%;
}
#sidebar h3 {
  margin: 0px 0 20px;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  background: #fe5e24;
  padding: 10px;
}
#sidebar input[type="search"] {
	border: solid 1px #bbb;
	padding:10px;
	font-size: 15px;
  color: #000;
	width: 100%;
	margin-bottom: 15px;
}
#sidebar .search-form label{
	width:100%;
}
#sidebar input[type="submit"]{
 	background: #fe5e24;
	border: none;
	color: #000;
	padding: 10px 0;
	width: 100%;
	font-size: 18px;
	margin: 0;
}
#sidebar aside {
	margin-bottom: 30px;
  background: #f3f3f3;
  padding: 10px;
}
#sidebar ul {
	list-style:none;
	margin:0;
	font-size: 15px;
}
#sidebar ul li{
	margin:0 0 15px;
  font-size: 16px;
}
#sidebar ul li a{
	color:#5b5b5b;
  font-size: 16px;
}
#sidebar ul li a:hover{
	color:#fe5e24;
}
#sidebar #wp-calendar td a{
  color:#000;
}
label{
	margin-bottom: 0px;
}
#sidebar .tagcloud a{
	border:1px solid;
	color:#000;
	font-size:15px !important;
	padding:5px 18px;
	margin:0 0 5px;
	display:inline-block;
}
#sidebar .tagcloud a:hover{
	background:#fe5e24;
}
img.rss-widget-icon {
  width: auto !important;
}
/* Page */
h2.entry-title,
h1.page-title {
  text-align: left;
  margin-bottom: 10px;
  color: #fe5e24;
}
.content-ts p{
	text-align:justify;
	font-size: 16px;
	margin:0 0 10px;
}
.content-ts hr{
	border:none;
	border-bottom:2px dotted #7e7e7e;
	margin:35px 0;
	clear:both;
}
.content-ts h2{
	font-size:32px;
	margin:0;
	padding:0;
	color:#000;
	margin:15px 0;
}
.content-ts h3{
	font-size:36px;
	font-weight:normal;
	margin:0;
	padding:0;
	color:#000;
	margin:0 0 25px;
}
.content-ts h4{
	font-size:20px;
	font-weight:bold;
	margin:0;
	padding:0;
	color:#333;
	margin:0 0 25px;
}
.content-ts ul{list-style:none;
	margin:0 0 0 10px;
	padding:10px 0 0;
	font-size:16px;
}
.content-ts ul li{
	padding:0;
	margin:0 0 20px 0;
	line-height:25px;
}
.content-ts ol{list-style: none;
	padding:10px 0 0 0;
	font-size:16px;
	counter-reset: myCounter;
}
.content-ts ol li{
	padding:0 0 0 0;
	margin:0 0 20px 0;
}
/* Pagination */

.nav-links {
  padding: 10px 0;
}
.nav-previous {
  float: left;
  width: 50%;
  font-size: 15px;
  margin-top: 15px;
}
.nav-next {
  float: right;
  font-size: 15px;
  margin-top: 15px;
}
.pagination {
	clear:both;
	position:relative;
	font-size:14px;
	line-height:13px;
	float:right;
	font-weight:bold;
  margin-top: 15px;
}
.pagination span,
.pagination a {
	display:block;
  float:left;
  margin: 2px 2px 2px 0;
  padding:10px 15px;
  text-decoration:none;
  width:auto;
  color:#fff;
  background: #000 ;
  -webkit-transition: background .15s ease-in-out;
  -moz-transition: background .15s ease-in-out;
  -ms-transition: background .15s ease-in-out;
  -o-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.pagination a:hover{
	color:#000;
  background: #fe5e24;
}
.pagination .current{
	padding:10px 15px;
  background: #fe5e24;
  color:#000;
	font-weight:bold;
}
iframe{
  width: 100%;
}
.entry-audio audio {
  width: 100%;
}

/* Media */
@media screen and (max-width: 768px) and (min-width: 720px){	
 	.box-content {
	 display: none;
  }
  #sidebar th,
  #sidebar td{
	 padding: 4px;
	}	
  .woocommerce .products li {
    width: 44% !important;
  }
  #slider .inner_carousel p {
    margin-top: 0px; 
  }
  #slider .inner_carousel h2 {
    font-size: 30px;
    letter-spacing: 0;
    padding: 0px 2px;
  }
  #slider .carousel-caption{
    left: 10%;
    right: 10%;
  }
  .woocommerce ul.products[class*=columns-] li.product:nth-child(2n), .woocommerce-page ul.products[class*=columns-] li.product:nth-child(2n){
    float: none;
    display: inline-table;
  }
  .woocommerce-cart table.cart td.actions .coupon .input-text {
    font-size: 16px;
  }
  #sidebar .woocommerce ul.product_list_widget li img, #footer .woocommerce ul.product_list_widget li img{
    width: 40px;
  }
  #slider .carousel-caption{
    top:34%;
  }
}
@media screen and (max-width:720px) {	
	.contentbox{
		width: auto;
	}
  .service-border{
    margin-bottom: 20px;
  }
  .logo{
    text-align: left;
  }
  .page-box{
    margin: 0 10px;
  }
	#header,
  #menu-sidebar .socialbox {
    text-align: center !important;
  }
	.contact span {
    display: inline-block;
    margin: 0;
	}
	section .innerlightbox {
		padding: 0;
	}
	.our-services{
		margin-top: 0;
	}
	.box-content {
	display: none;
    }
    #slider .inner_carousel p {
    display: none;
  }
  #slider .inner_carousel h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #fe5e24;
    text-transform: uppercase;
    padding: 6px 2px;
  }
   #fitness-togym .know-btn a.blogbutton-small {
    color: #000;
    padding: 6px 17px;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid;
  }
  #footer input[type="submit"] {
    padding: 6px 0;
    float: right;
    background: #fe5e24;
    border-radius: 0px;
    color: #fff;
    margin-top: 4px;
  }
  #header .mail {
    display: block;
  }
  .fitnes-post p {
    font-size: 14px;
    margin: 0;
    padding: 0px;
  }
  .fitnes-post {
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-top: 18px;
  position: relative;
  }
  #fitness-togym .know-btn {
    text-align: left;
    margin-top: 35px;
    margin-bottom: 14px;
  }
  .center-align {
    left: 40%;
    right: 50%;
  }
  #slider .inner_carousel h1{
    font-size: 20px;
  }
  #slider .carousel-caption, #slider .inner_carousel, #slider .inner_carousel h1{
    text-align: center !important;
    left: 20% !important;
    right:20% !important;
  }
}
@media screen and (min-width:720px){
	#footer input[type="submit"]{
		width: 100%;
		float: none;
		margin-top: 5px;
	}
	#footer input[type="search"]{
		width: 100%;
	}
	#footer th,
	#footer td{
		padding: 0px;
	}	
}
@media screen and (min-width: 1000px) {
	#footer input[type="submit"]{
		margin-top: 5px;
	}
	#footer th,
	#footer td
	{
		padding: 4px;
	}
}
@media screen and (max-width: 425px){
	#footer input[type="search"]{
		width: 100%;
	}
	.woocommerce ul.products[class*=columns-] li.product,
	.woocommerce-page ul.products[class*=columns-] li.product{
		width: 100% !important;
		float: none !important;
    margin: 0px 0 20px 0 !important;
	}
}

/*------------------RESPONSIVE MEIDA-------------------*/

@media screen and (max-width: 1000px){
  .menubar .nav ul li a:focus,
  a.closebtn.mobile-menu:focus{
    outline: 1px dotted #fff;
    border-bottom: 1px solid #fff;
  }
  .toggle-menu i {
    font-size: 18px;
    color: #fff;
    padding:10px;
    background: #262626;
    margin: 10px 0;
  }
  .toggle-menu button {
    background: transparent;
    border: none;
  }
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: 0;
    background-color: #252525;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidebar .closebtn {
    position: absolute;
    top: -9px;
    left: -6px;
    font-size: 40px !important;
    display: block;
    color: #ffffff;
    border:none;
    background: transparent;
  }
  .sidebar #primary-site-navigation {
    width: 100%;
  }
  .toggle-menu span{
    font-size:30px;
    cursor:pointer; 
  }
  .toggle-menu{
    display: block;
    text-align: right;
  }
  .primary-navigation ul ul li{
    display: block;
  }
  .primary-navigation ul ul a, .primary-navigation li a:hover, .primary-navigation li:hover a{
    background-image: linear-gradient(-90deg, #000 0%, #fe5e24 120% );
  }
  .primary-navigation ul li a{
    padding: 15px;
    display:block;
    color:#ffffff;
    border:none;
  }
  .primary-navigation ul li ul li a:before{
    content:"\00BB \00a0";
  }
  .primary-navigation ul ul{
    position: static;
    width: 100%;
    background: unset;
    border: none;
  }
  .primary-navigation ul ul li{
    text-align: center;
  }
  .primary-navigation li{
    padding: 0;
  }
  .main-header-box{
    padding-bottom: 15px;
  }
  #menu-sidebar {
    text-align: center;
    display: inline;
    background-image: linear-gradient(-90deg, #000 0%, #fe5e24 120% );
    opacity: 0.95;
  }
  .primary-navigation ul{
    display: grid;
    text-align: center;
  }
  nav#primary-site-navigation a.closebtn.mobile-menu i {
    color: #fff;
  }
  #menu-sidebar .socialbox, #menu-sidebar .mail, #menu-sidebar .book-btn{
    display: block;
  }
  .top-header .socialbox, .top-header .mail, .top-header .book-btn{
    display: none;
  }
  #menu-sidebar .search-box{
    text-align: center;
  }
  #contact-info{
    background-image: linear-gradient(-90deg, #000 0%, #fe5e24 120% );
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    opacity: 1;
  }
  #menu-sidebar .primary-navigation a{
    font-size: 15px;
    font-weight: 600;
  }
  #menu-sidebar .search-box i{
    color: #fff;
    text-align: center;
    display: block;
  }
  #menu-sidebar .socialbox a{
    padding: 0;
  }
  #menu-sidebar .socialbox {
    text-align: center;
  }
  .search-box i{
    display: none;
  }
  .book-btn a, .mail i, .mail span, .socialbox a{
    color: #fff !important;
    font-size: 15px;
    font-weight: 600;
  }
  label{
    margin:0;
    width: 60%;
  }
  #menu-sidebar .book-btn a{
    padding: 7px;
    font-size: 13px;
  }
  #menu-sidebar .book-btn{
    margin: 10px 0;
  }
  #menu-sidebar input[type="submit"]{
    padding: 8px;
    background-color: #fe5e24;
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
  }
  #menu-sidebar #contact-info .mail, #menu-sidebar #contact-info .contact{
    color: #fff;
    padding-bottom:15px;
    font-weight: 500;
  }
  #menu-sidebar #contact-info .mail i, #menu-sidebar #contact-info .contact i{
    padding-right: 10px;
  }
  .middle-header form{
    border: none;
    margin:0;
  }
  .primary-navigation a{
    display: inline-block;
  }
  #contact-info form.search-form , #contact-info{
    display: block;
  }
  .main-menu-navigation{
    overflow-y: scroll;
    scroll-behavior: auto;
  }
  input.search-field{
    width: 100%;
  }
  .top-header {
    display: none;
  }
  .sf-arrows .sf-with-ul:after{
    position: absolute;
    left: 87%;
    right: 0;
    color: #fff;
  }
  .socialbox i{
    font-size: 17px;
  }
  #header .top-contact, .top_headbar .socialbox{
    display: none;
  }
  .primary-navigation ul ul{
    border-top:none;
  }
  .primary-navigation ul ul li:hover > a, .primary-navigation ul li a:hover{
    color: #fff !important;
  }
}
